h3 {
    text-align: center;
}
p{
    font-weight: bold;
}
h1{
    font-family: Impact;
}
h3{
    font-family: monospace;
}

body{ 
    background-color: #0B0C10;
    /* color:red; */
}
h3{
    color: white;
}
h3{
    font-size: 55px;
}
h1{
    color: #66FCF1;
}
h1{
    font-size: 300px
}
h1 {
    text-align: center;
}
h1 {
    line-height: 0.01;
}
img{
    text-align: center;
}
p{
    color: #c5c6c7;
}
p {
    text-align: center;
}
a{ 
    color: #45A29E;
}
a href {
    text-align: right;
}