h3 {
    text-align: center;
}
p{
    font-weight: bold;
}
h1{
    font-family: Impact;
}
h3{
    font-family: monospace;
}

body{ 
    background-color: #0B0C10;
    /* color:red; */
}
h3{
    color: white;
}
h3{
    font-size: 55px;
}
h1{
    color: #66FCF1;
}
h1{
    font-size: 300px
}
h1 {
    text-align: center;
}
h1 {
    line-height: 0.01;
}
img{
    text-align: center;
}
p{
    color: #c5c6c7;
}
p {
    text-align: center;
}
a{ 
    color: #45A29E;
}
nav{
    text-align: center;
}

a:link,
a:visited{
    text-decoration: none;
    color:#45A29E;
}
a:hover{
    color: #c5c6c7;
}
section{
    text-align: center;
}
h2{
    text-align: center;
}
h2{
    color: #66FCF1;
}
header{
    font-size: 45px;
}
header{
    font-size: 45px;
}
h6{
    color: #45A29E;
}
h6{
    font-size: 25px;
}
h6{
    line-height: 0.1;
}